### Read the table of earthquakes from https://en.wikipedia.org/wiki/List_of_deadly_earthquakes_since_1900 using beautifulsoup and load to a pandas dataframe.

In [1]:
import urllib.request
from bs4 import BeautifulSoup as BS
import pandas as pd
import numpy as np

In [2]:
#http request
request = urllib.request.Request('https://en.wikipedia.org/wiki/List_of_deadly_earthquakes_since_1900')
#result of that request
result = urllib.request.urlopen(request)
#reand and store the result
resulttext = result.read()

In [3]:
#We use the BS constructor to pull data from HTML or XML document
soup = BS(resulttext, 'html.parser')
#The first argument is what we want to make soup from.
#The second argument tells beautifulsoup how we want to handle what was passed in as the first argument

In [4]:
#print(soup.prettify())

In [5]:
quake_table = soup.find('table', 'sortable wikitable')
type(quake_table)

bs4.element.Tag

In [6]:
#print(quake_table.prettify())

In [7]:
#creating empty list for data
data_for_df = []

In [8]:
table_for_looping = quake_table.findAll('tr')
type(table_for_looping)

bs4.element.ResultSet

In [9]:
#based on xtreme united's notebook
for row in table_for_looping:
    cells = row.find_all('td')
    cells = [cell.text.strip() for cell in cells]
    data_for_df.append(cells)

### loading data into pandas data frame

In [10]:
quake_df = pd.DataFrame(data_for_df)
quake_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,None,None,None,None,None,None,None,None,None,None,None,None
1,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,,,,,,
2,1900-07-12 06:25,Turkey,40.300,43.100,,5.9 Muk,,,,140,,
3,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,,,,,,
4,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,,,,,,

In [11]:
# naming columns
quake_df.columns = ['origin','country','lat','long','depth','mag','sec_effects','shaking_death','pde_total','utsu_total','emdat_total','other']

In [12]:
quake_df.head()

,origin,country,lat,long,depth,mag,sec_effects,shaking_death,pde_total,utsu_total,emdat_total,other
0,None,None,None,None,None,None,None,None,None,None,None,None
1,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,,,,,,
2,1900-07-12 06:25,Turkey,40.300,43.100,,5.9 Muk,,,,140,,
3,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,,,,,,
4,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,,,,,,

In [13]:
# some basic data exploration
quake_df.shape

(1341, 12)

In [14]:
quake_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1341 entries, 0 to 1340
Data columns (total 12 columns):
origin           1340 non-null object
country          1340 non-null object
lat              1340 non-null object
long             1340 non-null object
depth            1340 non-null object
mag              1340 non-null object
sec_effects      1340 non-null object
shaking_death    1340 non-null object
pde_total        1340 non-null object
utsu_total       1340 non-null object
emdat_total      1340 non-null object
other            1338 non-null object
dtypes: object(12)
memory usage: 125.8+ KB

In [15]:
quake_df.drop(0, inplace=True)

In [16]:
quake_df.head(10)

,origin,country,lat,long,depth,mag,sec_effects,shaking_death,pde_total,utsu_total,emdat_total,other
1,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,,,,,,
2,1900-07-12 06:25,Turkey,40.300,43.100,,5.9 Muk,,,,140,,
3,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,,,,,,
4,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,,,,,,
5,1901-03-31 07:11,Bulgaria,43.400,28.700,,6.4 Muk,,,,4,,
6,1901-08-09 09:23,Japan,40.500,142.500,35,7.2 Mw,T,,,,,
7,1901-11-15 20:15,New Zealand (see 1901 Cheviot earthquake),-43.000,173.000,0,6.8 Ms,,,,1,,
8,1902-01-30 14:01,Japan,40.500,141.300,35,6.9 Ms,,,,1,,
9,1902-02-13 09:39,Azerbaijan,40.700,48.600,15,6.9 Muk,,,,86,,
10,1902-03-09 07:46,Turkey,40.700,33.600,,5.5 Muk,,,,4,,

### Replacing empty strings with NAN

In [17]:
quake_df['shaking_death'] = quake_df['shaking_death'].fillna(value = 'NaN')

In [18]:
quake_df = quake_df.apply(lambda x: x.str.strip()).replace('', np.nan)

In [19]:
quake_df.head()

,origin,country,lat,long,depth,mag,sec_effects,shaking_death,pde_total,utsu_total,emdat_total,other
1,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,NaN,NaN,NaN,NaN,NaN,NaN
2,1900-07-12 06:25,Turkey,40.300,43.100,NaN,5.9 Muk,NaN,NaN,NaN,140,NaN,NaN
3,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,NaN,NaN,NaN,NaN,NaN,NaN
4,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,NaN,NaN,NaN,NaN,NaN,NaN
5,1901-03-31 07:11,Bulgaria,43.400,28.700,NaN,6.4 Muk,NaN,NaN,NaN,4,NaN,NaN

In [20]:
quake_df.other.value_counts(dropna = False)

NaN                                    1303
1                                         3
34                                        1
2041                                      1
150+                                      1
42                                        1
33[8]                                     1
380                                       1
601 (as of October 30, 2011)              1
521[19]                                   1
120                                       1
111+                                      1
2489[10]                                  1
26271[11] 26000[12]                       1
164[6]                                    1
60[16]                                    1
215                                       1
105000                                    1
1404                                      1
46                                        1
15894[20]                                 1
68                                        1
1500[6]                                   1
222,517[17]                               1
3500                                      1
79                                        1
200                                       1
45000[9]                                  1
181                                       1
1,115                                     1
231000*[13] 283000*[14] 227898*[15]       1
41                                        1
2,698                                     1
189                                       1
295                                       1
8000+                                     1
Name: other, dtype: int64

### Removing footnotes from the 'Other Source Deaths' column

In [21]:
quake_df['other'] = quake_df.other.str.replace(r'+','')
quake_df['other'] = quake_df.other.str.replace(r',','')
quake_df['other'] = quake_df.other.str.extract('(\d+)', expand = True)

### Cleaning and converting magnitude column to float

In [22]:
#quick inspection of magnitude column
quake_df.mag.value_counts(dropna = False)

7.2 Mw         46
5.6 Mw         38
6.5 Mw         38
7.1 Mw         37
5.8 Mw         34
6.8 Muk        34
5.9 Mw         32
6.3 Mw         32
6.4 Mw         32
7.5 Mw         31
6.2 Mw         31
6.1 Mw         31
5.5 Mw         29
6.0 Mw         28
6.6 Mw         27
5.4 Mw         26
7.7 Mw         25
7.3 Mw         25
6.9 Mw         25
7.6 Mw         24
6.0 Muk        24
5.7 Mw         23
5.3 Mw         23
7.0 Mw         22
6.8 Ms         22
6.7 Mw         21
6.8 Mw         19
7.4 Mw         17
7.8 Mw         17
5.2 Mw         17
               ..
6.8 MJMA        1
6.0 ML          1
6.5 MJMA        1
6.1 mb          1
5.1 Lg          1
7.9 Ms          1
4.0 Lg          1
8.8 Muk         1
8.4 Mw          1
7.7 Muk         1
4.8 Muk         1
9.2 Muk         1
6.2 mb          1
7.8 Muk         1
8.0 Muk         1
6.0 Ms          1
7.1 MJMA        1
2.3 ML          1
7.2 MJMA        1
7.0 MJMA        1
8.6 Ms          1
7.6 Muk         1
4.9 Muk         1
2.2 ML          1
7.4 Muk         1
5.2 Muk         1
8.3 Muk         1
9.1 Mw          1
8.8 Mw [18]     1
NaN             1
Name: mag, Length: 177, dtype: int64

In [23]:
#cleaning magnitude column
quake_df['mag'] = quake_df.mag.str.extract('(\d\.\d)', expand = True)

In [24]:
quake_df.mag.value_counts(dropna = False)

6.8    76
6.9    60
6.5    58
7.2    57
6.0    56
5.6    56
5.8    50
6.3    50
7.1    49
5.5    48
6.2    48
5.9    47
6.4    46
7.0    43
6.6    40
7.5    39
6.1    39
5.7    38
6.7    38
7.3    36
5.4    32
7.6    30
7.7    28
5.3    27
5.2    25
7.4    23
7.8    19
7.9    18
4.9    18
5.0    17
       ..
4.8    10
8.0    10
8.2     7
4.7     7
8.3     6
4.3     6
4.6     6
4.5     6
4.2     6
2.7     3
4.4     3
3.8     3
8.6     3
2.8     2
8.5     2
NaN     2
3.4     2
8.4     2
9.0     2
8.8     2
4.0     1
2.6     1
9.2     1
2.3     1
8.7     1
9.1     1
9.5     1
2.2     1
2.0     1
3.5     1
Name: mag, Length: 62, dtype: int64

In [25]:
quake_df.mag = quake_df['mag'].apply(float)

### Cleaning and then aggregating the death count columns by maximum value

In [26]:
#cleaning emdat total deaths
quake_df['emdat_total'] = quake_df.emdat_total.str.extract('(\d+)', expand = True)

In [27]:
#converting these columns to floats
quake_df['other'] = quake_df['other'].astype(float)
quake_df['pde_total'] = quake_df['pde_total'].astype(float)
quake_df['utsu_total'] = quake_df['utsu_total'].astype(float)
quake_df['emdat_total'] = quake_df['emdat_total'].astype(float)

In [28]:
# aggregting these by the max value

# initialize column as empty strings
quake_df['deaths'] = ''

#select by dropping columns
deathcols = quake_df.columns.drop(['origin', 'country', 'lat', 'long', 'depth', 'mag', 'sec_effects', 'shaking_death'])

#create by subsetting df
death_df = quake_df[deathcols]

#populating deaths column with max of the subset
quake_df['deaths'] = death_df.max(axis=1)

In [29]:
# quick spotcheck
quake_df['deaths'].value_counts(dropna=False)

 1.0         243
 2.0         139
NaN           66
 3.0          60
 4.0          49
 5.0          40
 6.0          27
 7.0          27
 9.0          24
 10.0         23
 8.0          22
 11.0         20
 15.0         18
 12.0         14
 20.0         14
 30.0         13
 26.0         10
 100.0         9
 18.0          9
 17.0          8
 13.0          8
 200.0         8
 1000.0        8
 35.0          7
 60.0          7
 22.0          7
 500.0         7
 24.0          7
 16.0          7
 50.0          7
            ...
 270.0         1
 32610.0       1
 101.0         1
 552.0         1
 125.0         1
 85.0          1
 65.0          1
 380.0         1
 420.0         1
 680.0         1
 91.0          1
 93.0          1
 143.0         1
 222.0         1
 428.0         1
 1115.0        1
 2800.0        1
 130.0         1
 183.0         1
 233.0         1
 295.0         1
 255.0         1
 275.0         1
 450.0         1
 3500.0        1
 1879.0        1
 200000.0      1
 601.0         1
 2836.0        1
 4020.0        1
Name: deaths, Length: 295, dtype: int64

In [30]:
quake_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1340 entries, 1 to 1340
Data columns (total 13 columns):
origin           1340 non-null object
country          1340 non-null object
lat              1326 non-null object
long             1326 non-null object
depth            1250 non-null object
mag              1338 non-null float64
sec_effects      373 non-null object
shaking_death    739 non-null object
pde_total        750 non-null float64
utsu_total       1027 non-null float64
emdat_total      560 non-null float64
other            37 non-null float64
deaths           1274 non-null float64
dtypes: float64(6), object(7)
memory usage: 146.6+ KB

### Ready to start exploring data for insights

In [31]:
quake_df

,origin,country,lat,long,depth,mag,sec_effects,shaking_death,pde_total,utsu_total,emdat_total,other,deaths
1,1900-05-11 17:23,Japan,38.700,141.100,5,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1900-07-12 06:25,Turkey,40.300,43.100,NaN,5.9,NaN,NaN,NaN,140.0,NaN,NaN,140.0
3,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1901-02-15 00:00,China,26.000,100.100,0,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1901-03-31 07:11,Bulgaria,43.400,28.700,NaN,6.4,NaN,NaN,NaN,4.0,NaN,NaN,4.0
6,1901-08-09 09:23,Japan,40.500,142.500,35,7.2,T,NaN,NaN,NaN,NaN,NaN,NaN
7,1901-11-15 20:15,New Zealand (see 1901 Cheviot earthquake),-43.000,173.000,0,6.8,NaN,NaN,NaN,1.0,NaN,NaN,1.0
8,1902-01-30 14:01,Japan,40.500,141.300,35,6.9,NaN,NaN,NaN,1.0,NaN,NaN,1.0
9,1902-02-13 09:39,Azerbaijan,40.700,48.600,15,6.9,NaN,NaN,NaN,86.0,NaN,NaN,86.0
10,1902-03-09 07:46,Turkey,40.700,33.600,NaN,5.5,NaN,NaN,NaN,4.0,NaN,NaN,4.0
11,1902-04-19 02:23,Guatemala (see 1902 Guatemala earthquake),14.000,-91.000,0,7.5,NaN,NaN,NaN,2000.0,2000.0,NaN,2000.0
12,1902-07-03 15:36,China,43.200,129.600,20,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1902-08-22 03:00,China,40.000,77.000,0,7.7,NaN,NaN,NaN,5650.0,NaN,NaN,5650.0
14,1902-09-19,Australia,-35.000,138.000,2,6.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0
15,1902-12-16 05:07,Uzbekistan,40.800,72.300,9,6.4,NaN,NaN,NaN,4725.0,NaN,NaN,4725.0
16,1903-03-29 22:30,Judea and Samaria,32.200,35.300,NaN,5.7,NaN,NaN,NaN,20.0,NaN,NaN,20.0
17,1903-04-28,Turkey (see 1903 Manzikert earthquake),39.14,42.65,NaN,7.0,NaN,NaN,NaN,NaN,NaN,3500.0,3500.0
18,1903-05-28 03:58,Turkey,40.900,42.700,NaN,5.8,NaN,NaN,NaN,1000.0,NaN,NaN,1000.0
19,1903-08-11 04:32,Greece,36.360,22.970,80,8.3,NaN,NaN,NaN,2.0,NaN,NaN,2.0
20,1903-09-25 01:20,Iran,35.200,58.200,NaN,6.5,NaN,NaN,NaN,200.0,NaN,NaN,200.0
21,1904-04-24 06:39,Taiwan,23.500,120.500,NaN,6.0,NaN,NaN,NaN,3.0,NaN,NaN,3.0
22,1904-08-11 05:56,Greece,37.750,27.000,10,6.2,NaN,NaN,NaN,4.0,NaN,NaN,4.0
23,1904-08-30 11:42,China,30.000,101.000,0,6.8,NaN,NaN,NaN,565.0,NaN,NaN,565.0
24,1904-11-05 20:25,Taiwan (see 1904 Douliu earthquake),23.500,120.300,NaN,6.3,NaN,NaN,NaN,145.0,NaN,NaN,145.0
25,1905-04-04 00:50,India,33.000,76.000,0,7.8,NaN,NaN,NaN,20000.0,20000.0,NaN,20000.0
26,1905-06-01 04:42,Albania,42.100,19.600,20,6.6,NaN,NaN,NaN,120.0,NaN,NaN,120.0
27,1905-06-02 05:39,Japan,34.100,132.500,55,7.0,NaN,NaN,NaN,11.0,NaN,NaN,11.0
28,1905-09-08 01:43,Italy (see 1905 Calabria earthquake),39.000,16.000,0,6.8,T,NaN,NaN,557.0,2500.0,NaN,2500.0
29,1905-11-08 22:06,Greece,40.000,24.000,0,6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1906-01-31 15:36,Ecuador (see 1906 Ecuador–Colombia earthquake),1.000,-81.500,0,8.8,T,NaN,NaN,1000.0,400.0,NaN,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311,2008-05-25 08:21,China,32.560,105.423,18,6.1,L,8,8.0,NaN,NaN,NaN,8.0
1312,2008-06-06 20:02,Algeria,35.883,-0.658,4,5.5,NaN,0,1.0,NaN,NaN,NaN,1.0
1313,2008-06-08 12:25,Greece (see 2008 Peloponnese earthquake),37.963,21.525,16,6.4,NaN,2,2.0,NaN,2.0,NaN,2.0
1314,2008-06-13 23:43,Japan (see 2008 Iwate–Miyagi Nairiku earthquake),39.030,140.881,7,6.9,L,13,13.0,NaN,13.0,NaN,13.0
1315,2008-06-17 05:51,China,32.761,105.554,10,4.8,NaN,2,2.0,NaN,NaN,NaN,2.0
1316,2008-07-15 03:26,Greece (see 2008 Dodecanese earthquake),35.983,27.785,68,6.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1317,2008-08-21 12:24,China (see 2008 Yingjiang earthquakes),25.1,97.9,NaN,5.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1318,2008-08-30 8:30,China (see 2008 Panzhihua earthquake),26.0,101.9,10,5.7,NaN,NaN,NaN,NaN,NaN,41.0,41.0
1319,2008-10-05 15:52,Kyrgyzstan (see 2008 Kyrgyzstan earthquake),39.515,73.768,27.6,6.9,NaN,NaN,NaN,NaN,NaN,60.0,60.0
1320,2008-10-06 16:30,China (see 2008 Damxung earthquake),NaN,NaN,NaN,6.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1321,2008-10-28 23:09,Pakistan (see 2008 Ziarat earthquake),NaN,NaN,NaN,6.4,NaN,NaN,NaN,NaN,NaN,215.0,215.0
1322,2009-01-08 19:21,Costa Rica (see 2009 Cinchona earthquake),10.3962,-84.0281,48,6.1,L,NaN,NaN,NaN,NaN,34.0,34.0
1323,2009-04-06 03:32,Italy (see 2009 L'Aquila earthquake),42.334,13.334,8.8,6.2,NaN,NaN,NaN,NaN,NaN,295.0,295.0
1324,2009-07-09 11:19,China (see 2009 Yunnan earthquake),NaN,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1325,2009-08-10 20:07,Japan (see 2009 Shizuoka earthquake),NaN,NaN,NaN,6.4,NaN,NaN,NaN,NaN,NaN,1.0,1.0
1326,2009-09-02 07:55,Indonesia (see 2009 West Java earthquake),NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,79.0,79.0
1327,2009-09-29 17:48,Samoa (see 2009 Samoa earthquake and tsunami),NaN,NaN,8.1,8.1,NaN,NaN,NaN,NaN,NaN,189.0,189.0
1328,2009-09-30 10:16,Indonesia (see 2009 Padang earthquake),NaN,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,1115.0,1115.0
1329,2010-01-12 17:00,Haiti (see 2010 Haiti earthquake),18.457,-72.533,13,7.0,NaN,NaN,NaN,NaN,NaN,222517.0,222517.0
1330,2010-02-27 06:34,Chile (see 2010 Chile earthquake),-35.846,-72.719,35,8.8,T,NaN,NaN,NaN,NaN,521.0,521.0
1331,2010-03-08 02:32,Turkey (see 2010 Elâzığ earthquake),NaN,NaN,NaN,6.1,NaN,NaN,NaN,NaN,NaN,42.0,42.0
1332,2010-03-11 14:39,Chile (see 2010 Pichilemu earthquake),NaN,NaN,NaN,6.9,L,NaN,NaN,NaN,NaN,1.0,1.0
1333,2010-04-14 23:49,China (see 2010 Yushu earthquake),NaN,NaN,NaN,6.9,L,NaN,NaN,NaN,NaN,2698.0,2698.0
1334,2011-02-21 23:51,New Zealand (see 2011 Christchurch earthquake),NaN,NaN,NaN,6.3,Lq,NaN,NaN,NaN,NaN,181.0,181.0
1335,2011-03-10 04:58,China (see 2011 Yunnan earthquake),NaN,NaN,NaN,5.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1336,2011-03-11 14:46,Japan (see 2011 Tōhoku earthquake),38.322,142.369,24.4,9.0,T,NaN,NaN,NaN,NaN,15894.0,15894.0
1337,2011-03-24 20:25,Burma (see 2011 Burma earthquake),NaN,NaN,NaN,6.8,NaN,NaN,NaN,NaN,NaN,150.0,150.0
1338,2011-04-07 14:32,Japan (see April 2011 Miyagi earthquake),38.2,140.0,66.0,7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1339,2011-09-18 12:40,India (see 2011 Sikkim earthquake),27.723,88.064,19.7,6.9,L,NaN,NaN,NaN,NaN,111.0,111.0
1340,2011-09-23 10:41,Turkey (see 2011 Van earthquake),38.6,43.5,7.2,7.1,NaN,NaN,NaN,NaN,NaN,601.0,601.0